* {
	padding: 0;
	margin: 0;
}
html,
body {
	overflow: hidden;
}
body {
	background: radial-gradient(circle at center, #90ee90, #006400);
}

#containerLeaf {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.leaf {
	/* Adiciona um estilo de transição para suavizar a animação */
	animation-duration: 12s;
	animation-name: falling;
	/* Posiciona a folha no topo da tela */
	position: absolute;
	top: -60px;
	/* Define o tamanho da imagem */
	width: 50px;
	height: 50px;
}

.leaf img {
	width: 50px;
	height: 50px;
}

/* Define a animação da folha */
@keyframes falling {
	/* A folha começa no topo da tela */
	0% {
		margin-top: 0;
	}

	20% {
		transform: rotate(70deg);
	}
	50% {
		transform: rotate(-20deg);
	}
	/* A folha se move para baixo até o final da tela */
	100% {
		margin-top: 130vh;
		transform: rotate(80deg);
	}
}

.botoes {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 85%;
	left: 5%;
	justify-content: center;
	align-items: center;
	margin: auto;
	gap: 20px;
}

.botoes button {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	cursor: pointer;
}
